<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header"></head>
<body>
<div class="page-container">
    <div th:replace="fragments :: top"></div>
    <div th:replace="fragments :: menu"></div>

    <div class="content">
        <h2 th:text="#{user.user}"></h2>

        <form>

            <label for="active" th:text="#{user.active}"></label>
            <input id="active" type="checkbox" th:value="${user.active}">

            <label for="userId" th:text="#{user.userId}"></label>
            <input id="userId" type="text" th:value="${user.userId}">

            <label for="name" th:text="#{user.login}"></label>
            <input id="name" type="text" th:value="${user.name}">

            <label for="displayName" th:text="#{user.displayName}"></label>
            <input id="displayName" type="text" th:value="${user.displayName}">

            <label for="email" th:text="#{user.email}"></label>
            <input id="email" type="email" th:value="${user.email}">

            <label for="validFrom" th:text="#{user.validFrom}"></label>
            <input id="validFrom" type="date" th:value="${user.validFrom}">

            <label for="validUntil" th:text="#{user.validFrom}"></label>
            <input id="validUntil" type="date" th:value="${user.validUntil}">

            <input type="submit" class="button">

        </form>

    </div>

    <div th:replace="fragments :: bottom"></div>
</div>
</body>
</html>