<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header"></head>
<body>

<div class="page-container">
    <div th:replace="fragments :: top"></div>
    <div th:replace="fragments :: menu"></div>

    <div class="content">
        <h2><span class="fa fa-user">&nbsp;</span>Users</h2>

        <table>
            <tr>
                <th>Login</th>
                <th th:text="#{user.displayName}">Display name</th>
                <th>Valid from</th>
                <th>Valid until</th>
                <th>email</th>
                <th>Active</th>
            </tr>
            <tr th:each="user: ${users}">
                <td><a th:href="@{/user/} + ${user.userId}" th:text="${user.name}">[Login?]</a></td>
                <td th:text="${user.displayName}">[Display name?]</td>
                <td th:text="${user.validFrom}">[Valid from?]</td>
                <td th:text="${user.validUntil}">[Valid until?]</td>
                <td th:text="${user.email}">[eMail?]</td>
                <td th:text="${user.active}">[Active?]</td>
            </tr>
        </table>

    </div>

    <div th:replace="fragments :: bottom"></div>
</div>
</body>
</html>