body {
    background-color: #333333;
    #font-family: Verdana;
    font-family: 'Exo 2', sans-serif;
    color: orange;
}

a {
    color: orange;
}

.button {
    background-color: orange;
    color: yellow;
    border: 1px solid black;
    margin: 10px;
    padding: 6px;
}

#logo {
    font-size: 52px;
    text-decoration: none;;
}

#copyright {
    font-size: x-small;
}

hr {
    background: linear-gradient(to right, orange, #333333);
    height: 2px;
    border: none;
}

table {
    border-collapse: collapse;
}

table, th, td {
    text-align: left;
    border: #444444 1px solid;
    padding: 1em;
}

tr:hover {
    background-color: #373737;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    #grid-column-gap: 1em;
}

.top {
    grid-row: 1;
    grid-column: span 2;
}

.menu {
    grid-row: 2;
    grid-column: 1;
}

.menu-item {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    padding-left: 1em;
}

.content {
    grid-row: 2;
    grid-column: 2;
}

.bottom {
    grid-row: 3;
    grid-column: span 2;
}

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}

label {
    grid-column: 1 / 2;
}

input,
button {
    grid-column: 2 / 3;
    width: auto;
}