<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" th:href="@{/css/dark.css}">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

<div th:fragment="top" class="top">
    <a id="logo" th:href="@{/}" alt="Phexpedition Home">P|H|E|X|P|E|D|I|T|I|O|N</a>
    <span>Version ${revision} ${project.version} ${pom.version}&nbsp;</span>
    <a href="/logout">Logout</a>
    <hr>
</div>

<div th:fragment="menu" class="menu">
    <ul style="list-style-type: none">
        <li>
            <span class="fas fa-upload">&nbsp;</span>
            <a class="menu-item" th:href="@{/upload}">Upload pictures</a>
        </li>
        <li>
            <span class="fas fa-th">&nbsp;</span>
            <a class="menu-item" th:href="@{/upload}">Gallery</a>
        </li>
        <li>
            <span class="fas fa-camera">&nbsp;</span>
            <a class="menu-item" th:href="@{/upload}">Photowalk</a>
        </li>
        <li>
            <span class="fas fa-address-card">&nbsp;</span>
            <a class="menu-item" th:href="@{/user}">Manage user</a>
        </li>
    </ul>
</div>

<div th:fragment="bottom" class="bottom">
    <hr style="margin-top: 132px;">
    <div id="copyright">Copyright &copy; 2019 Huepattl! Software</div>
</div>

</body>
</html>