<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header"></head>
<body>
<div class="page-container">
    <div th:replace="fragments :: top"></div>
    <div th:replace="fragments :: menu"></div>

    <div class="content">
        <h2>Welcome!</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <ul>
            <li><span class="fas fa-upload">&nbsp;</span><a href="/upload">Upload your pictures</a></li>
            <li><span class="fas fa-user">&nbsp;</span><a th:href="@{/user}">Manage users</a></li>
        </ul>
    </div>

    <div th:replace="fragments :: bottom"></div>
</div>
</body>
</html>